<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>
    <title>Bạn Đọc</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content="Easy Admin Panel Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design"/>
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>
    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel='stylesheet' type='text/css'/>
    <!-- Custom CSS -->
    <link href="css/style.css" rel='stylesheet' type='text/css'/>
    <!-- Graph CSS -->
    <link href="css/font-awesome.css" rel="stylesheet">
    <!-- jQuery -->
    <!-- lined-icons -->
    <link rel="stylesheet" href="css/icon-font.min.css" type='text/css'/>
    <!-- //lined-icons -->
    <!-- chart -->
    <script src="js/Chart.js"></script>
    <!-- //chart -->
    <!--animate-->
    <link href="css/animate.css" rel="stylesheet" type="text/css" media="all">
    <script src="js/wow.min.js"></script>
    <script>
        new WOW().init();
    </script>
    <!--//end-animate-->
    <!----webfonts--->
    <link href='http://fonts.googleapis.com/css?family=Cabin:400,400italic,500,500italic,600,600italic,700,700italic'
          rel='stylesheet' type='text/css'>
    <!---//webfonts--->
    <!-- Meters graphs -->
    <script src="js/jquery-1.10.2.min.js"></script>
    <!-- Placed js at the end of the document so the pages load faster -->

</head>

<body class="sticky-header left-side-collapsed" onload="initMap()">
<section>
    <!-- left side start-->
    <div class="left-side sticky-left-side">
        <!--logo and iconic logo start-->
        <div class="logo"><h1><a th:href="@{/}">Quản Lý <span>Thư Viện</span></a></h1></div>
        <div class="logo-icon text-center"><a th:href="@{/}"><i class="lnr lnr-home"></i> </a></div>

        <!--logo and iconic logo end-->
        <div class="left-side-inner">

            <!--sidebar nav start-->
            <ul class="nav nav-pills nav-stacked custom-nav">
                <li><a th:href="@{/muon-sach}"><i class="lnr lnr-book"></i> <span>Quản lý mượn sách</span></a></li>
            </ul>
            <!--sidebar nav end-->
        </div>
    </div>
    <!-- left side end-->

    <!-- main content start-->
    <div class="main-content">
        <!-- header-starts -->
        <div class="header-section">
            <!--toggle button start-->
            <a class="toggle-btn  menu-collapsed"><i class="fa fa-bars"></i></a>
            <!--toggle button end-->
            <!--notification menu start -->
            <div class="menu-right">
                <div class="user-panel-top">
                    <div class="profile_details_left">
                        <ul class="nofitications-dropdown">
                            <!--                            <li ><h3 class="blank1">Basic Tables</h3></li>-->
                            <li class="login_box" id="loginContainer">
                                <div class="search-box">
                                    <div id="sb-search" class="sb-search sb-search-open">
                                        <form>
                                            <input class="sb-search-input" placeholder="Nhập vào từ khóa..."
                                                   type="search" id="search">
                                            <input class="sb-search-submit" type="submit" value="">
                                            <span class="sb-icon-search"> </span>
                                        </form>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <div class="profile_details">
                        <ul>
                            <li class="dropdown profile_details_drop">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    <div class="profile_img">
                                        <div class="user-name">
                                            <p>Dương<span>Nhân_Viên</span></p>
                                        </div>
                                        <i class="lnr lnr-chevron-down"></i>
                                        <i class="lnr lnr-chevron-up"></i>
                                        <div class="clearfix"></div>
                                    </div>
                                </a>
                                <ul class="dropdown-menu drp-mnu">
                                    <li><a href="#"><i class="fa fa-cog"></i> Cài đặt</a></li>
                                    <li><a href="#"><i class="fa fa-user"></i>Trang cá nhân</a></li>
                                    <li><a href="sign-up.html"><i class="fa fa-sign-out"></i> Đăng xuất</a></li>
                                </ul>
                            </li>
                            <div class="clearfix"></div>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <!--notification menu end -->
        </div>
        <!-- //header-ends -->
        <div id="page-wrapper">
            <div class="graphs">
                <h3 class="blank1">Quản lý mượn sách</h3>
                <div class="panel panel-warning" data-widget="{&quot;draggable&quot;: &quot;false&quot;}"
                     data-widget-static="">
                    <div class="panel-body no-padding">
                        <div class="form-group">
                            <div class="col-sm-2">
                                <input type="text" class="form-control1" id="ban-doc"
                                       placeholder="Nhập thông tin độc giả...">
                            </div>
                            <button type="button" class="btn btn-primary btn-tim-bd" style="margin-bottom: 20px">Xác nhận</button>
                        </div>
                        <div class="col-sm-12">
                            <div class="col-sm-6">
                                <h4 th:text= "${'Mã độc giả: ' + banDoc.getMaBanDoc()}"></h4>
                                <h4 th:text= "${'Họ tên: ' + banDoc.getHoTen()}"></h4>
                                <h4 th:text= "${'Ngày sinh: ' + banDoc.getNgaySinh()}"></h4>
                            </div>
                            <div class="col-sm-6">
                                <h4 th:text= "${'Địa chỉ: ' + banDoc.getDiaChi()}"></h4>
                                <h4 th:text= "${'Số điện thoại: ' + banDoc.getSoDienThoai()}"></h4>
                                <h4 th:text= "${'Mã vạch: ' + banDoc.getMaVach()}"></h4>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="xs tabls">
                    <div class="bs-example4" data-example-id="contextual-table">
                        <div class="col-sm-6">
                            <div class="col-sm-3">
                                <h4 class="blank1">Sách mượn chưa trả</h4>
                            </div>
                            <button type="button" class="btn btn-primary" style="margin-bottom: 20px">Thêm sách mượn</button>
                        </div>
                        <table class="table">
                            <thead>
                            <tr class="danger">
                                <th>STT</th>
                                <th>Mã</th>
                                <th>Tên Sách</th>
                                <th>Tác Giả</th>
                                <th>Mã Vạch</th>
                                <th>Ngày Mượn</th>
                                <th>Ngày Trả</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="warning" th:each="sachMuon,state : ${sachMuons}">
                                <td scope="row" th:text="${state.count}"></td>
                                <td th:text="${sachMuon.getMaSachMuon()}" style="text-align: left"></td>
                                <td th:text="${sachMuon.getSach().getDauSach().getTenDauSach()}" style="text-align: left"></td>
                                <td th:text="${sachMuon.getSach().getDauSach().getTacGia()}" style="text-align: left"></td>
                                <td th:text="${sachMuon.getSach().getMaVach()}" style="text-align: left"></td>
                                <td th:text="${sachMuon.getNgayMuon()}" style="text-align: left"></td>
                                <td th:text="${sachMuon.getNgayTra()}" style="text-align: left"></td>
                            </tr>
                            </tbody>
                        </table>
                        <div style="text-align:center;margin:auto;">
                            <button type="button" class="btn label-warning" style="margin-bottom: 20px">Xác nhận</button>
                        </div>
                    </div>
                    <div class="bs-example4" data-example-id="contextual-table">
                        <div class="col-sm-6">
                            <h4 class="blank1">Sách mượn đã trả</h4>
                        </div>
                        <table class="table">
                            <thead>
                            <tr class="danger">
                                <th>STT</th>
                                <th>Mã</th>
                                <th>Tên Sách</th>
                                <th>Tác Giả</th>
                                <th>Mã Vạch</th>
                                <th>Ngày Mượn</th>
                                <th>Ngày Trả</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="success" th:each="sachMuon,state : ${sachDaMuons}">
                                <td scope="row" th:text="${state.count}"></td>
                                <td th:text="${sachMuon.getMaSachMuon()}" style="text-align: left"></td>
                                <td th:text="${sachMuon.getSach().getDauSach().getTenDauSach()}" style="text-align: left"></td>
                                <td th:text="${sachMuon.getSach().getDauSach().getTacGia()}" style="text-align: left"></td>
                                <td th:text="${sachMuon.getSach().getMaVach()}" style="text-align: left"></td>
                                <td th:text="${sachMuon.getNgayMuon()}" style="text-align: left"></td>
                                <td th:text="${sachMuon.getNgayTra()}" style="text-align: left"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--body wrapper end-->
    </div>
    <!--footer section start-->
    <footer><p>Copyright &copy; 2020. All rights reserved. Nguyễn Văn Dương</p></footer>
    <!--footer section end-->
    <!-- main content end-->
</section>
<script src="js/jquery.nicescroll.js"></script>
<script src="js/scripts.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/notify/0.4.2/notify.min.js"></script>
<!--<script type="text/javascript">-->
<!--    $(document).ready(function() {-->
<!--        $(".btn-tim-bd").on("click", function () {-->
<!--            var bandoc = $("#ban-doc").val().trim();-->
<!--            if (bandoc === '') {-->
<!--                $.notify("Không được để trống thông tin", "error");-->
<!--                return ;-->
<!--            }-->
<!--            $.ajax({-->
<!--                url: '/api/muon-sach/' + bandoc,-->
<!--                type: 'GET',-->
<!--                error: function (data) {-->
<!--                    $.notify("Dữ liệu yêu cầu không tồn tại", "error");-->
<!--                },-->
<!--                success: function (data) {-->
<!--                    $('.maDocGia').text("Mã độc giả: " + data.banDoc.maBanDoc);-->
<!--                    $('.hoTen').text("Họ tên: " + data.banDoc.hoTen);-->
<!--                    $('.ngaySinh').text("Ngày sinh: " + data.banDoc.ngaySinh);-->
<!--                    $('.diaChi').text("Địa chỉ: " + data.banDoc.diaChi);-->
<!--                    $('.sdt').text("Số điện thoại: " + data.banDoc.soDienThoai);-->
<!--                    $('.maVach').text("Mã vạch: " + data.banDoc.maVach);-->
<!--                }-->
<!--            });-->
<!--        });-->
<!--    });-->

<!--</script>-->
</body>
</html>