<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>
    <title>Bạn Đọc</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content="Easy Admin Panel Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design"/>
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>
    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel='stylesheet' type='text/css'/>
    <!-- Custom CSS -->
    <link href="css/style.css" rel='stylesheet' type='text/css'/>
    <!-- Graph CSS -->
    <link href="css/font-awesome.css" rel="stylesheet">
    <!-- jQuery -->
    <!-- lined-icons -->
    <link rel="stylesheet" href="css/icon-font.min.css" type='text/css'/>
    <!-- //lined-icons -->
    <!-- chart -->
    <script src="js/Chart.js"></script>
    <!-- //chart -->
    <!--animate-->
    <link href="css/animate.css" rel="stylesheet" type="text/css" media="all">
    <script src="js/wow.min.js"></script>
    <script>
        new WOW().init();
    </script>
    <!--//end-animate-->
    <!----webfonts--->
    <link href='http://fonts.googleapis.com/css?family=Cabin:400,400italic,500,500italic,600,600italic,700,700italic'
          rel='stylesheet' type='text/css'>
    <!---//webfonts--->
    <!-- Meters graphs -->
    <script src="js/jquery-1.10.2.min.js"></script>
    <!-- Placed js at the end of the document so the pages load faster -->
    <style>
        .modal {
            text-align: center;
            padding: 0 !important;
        }

        .modal-sm {
            width: 350px
        }

        .modal:before {
            content: '';
            display: inline-block;
            height: 100%;
            vertical-align: middle;
            margin-right: -4px;
        }

        .modal-dialog {
            display: inline-block;
            text-align: left;
            vertical-align: middle;
        }
    </style>
</head>

<body class="sticky-header left-side-collapsed" onload="initMap()">
<section>
    <!-- left side start-->
    <div class="left-side sticky-left-side">
        <!--logo and iconic logo start-->
        <div class="logo"><h1><a th:href="@{/}">Quản Lý <span>Thư Viện</span></a></h1></div>
        <div class="logo-icon text-center"><a th:href="@{/}"><i class="lnr lnr-home"></i> </a></div>

        <!--logo and iconic logo end-->
        <div class="left-side-inner">

            <!--sidebar nav start-->
            <ul class="nav nav-pills nav-stacked custom-nav">
                <li><a th:href="@{/muon-sach}"><i class="lnr lnr-book"></i> <span>Quản lý mượn sách</span></a></li>
            </ul>
            <!--sidebar nav end-->
        </div>
    </div>
    <!-- left side end-->

    <!-- main content start-->
    <div class="main-content">
        <!-- header-starts -->
        <div class="header-section">
            <!--toggle button start-->
            <a class="toggle-btn  menu-collapsed"><i class="fa fa-bars"></i></a>
            <!--toggle button end-->
            <!--notification menu start -->
            <div class="menu-right">
                <div class="user-panel-top">
                    <div class="profile_details">
                        <ul>
                            <li class="dropdown profile_details_drop">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    <div class="profile_img">
                                        <div class="user-name">
                                            <p>Dương<span>Nhân_Viên</span></p>
                                        </div>
                                        <i class="lnr lnr-chevron-down"></i>
                                        <i class="lnr lnr-chevron-up"></i>
                                        <div class="clearfix"></div>
                                    </div>
                                </a>
                                <ul class="dropdown-menu drp-mnu">
                                    <li><a href="#"><i class="fa fa-cog"></i> Cài đặt</a></li>
                                    <li><a href="#"><i class="fa fa-user"></i>Trang cá nhân</a></li>
                                    <li><a href="sign-up.html"><i class="fa fa-sign-out"></i> Đăng xuất</a></li>
                                </ul>
                            </li>
                            <div class="clearfix"></div>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <!--notification menu end -->
        </div>
        <!-- //header-ends -->
        <div id="page-wrapper">
            <div class="graphs">
                <h3 class="blank1">Quản lý mượn sách</h3>
                <div class="panel panel-warning" data-widget="{&quot;draggable&quot;: &quot;false&quot;}"
                     data-widget-static="">
                    <div class="panel-body no-padding">
                        <div class="form-group">
                            <div class="col-sm-2" th:if="${banDoc.getMaBanDoc()==0}">
                                <input type="text" class="form-control1 ban-doc"
                                       placeholder="Nhập mã vạch độc giả...">
                            </div>
                            <div class="col-sm-2" th:unless="${banDoc.getMaBanDoc()==0}">
                                <script th:inline="javascript">
                                    var banDoc = [[${banDoc}]];
                                    var sachMuons = [[${sachMuons}]];
                                </script>
                                <input type="text" class="form-control1 ban-doc"
                                       th:placeholder="${banDoc.getMaBanDoc()}">
                            </div>
                            <button type="button" class="btn btn-primary btn-tim-bd" style="margin-bottom: 20px">Xác
                                nhận
                            </button>
                        </div>
                        <div class="col-sm-12">
                            <div class="col-sm-1">
                                <h4>Mã độc giả:</h4>
                                <h4>Họ tên:</h4>
                                <h4>Ngày sinh:</h4>
                            </div>
                            <div class="col-sm-5">
                                <th:block th:if="${banDoc.getMaBanDoc()!=0}">
                                    <h4 th:text="${banDoc.getMaBanDoc()}"></h4>
                                    <h4 th:text="${banDoc.getHoTen()}"></h4>
                                    <h4 th:text="${banDoc.getNgaySinh()}"></h4>
                                </th:block>
                            </div>
                            <div class="col-sm-1">
                                <h4>Địa chỉ:</h4>
                                <h4>Số điện thoại:</h4>
                                <h4>Mã vạch:</h4>
                            </div>
                            <div class="col-sm-5">
                                <th:block th:if="${banDoc.getMaBanDoc()!=0}">
                                    <h4 th:text="${banDoc.getDiaChi()}"></h4>
                                    <h4 th:text="${banDoc.getSoDienThoai()}"></h4>
                                    <h4 th:text="${banDoc.getMaVach()}"></h4>
                                </th:block>
                            </div>
                        </div>
                    </div>
                </div>
                <!--                <th:block th:if="${banDoc.getHoTen()!=null}">-->
                <div class="xs tabls">
                    <div class="bs-example4" data-example-id="contextual-table">
                        <div class="col-sm-6">
                            <div class="col-sm-3">
                                <h4 class="blank1">Sách mượn chưa trả</h4>
                            </div>
                        </div>
                        <table class="table">
                            <thead>
                            <tr class="danger">
                                <th>Mã</th>
                                <th>Tên Sách</th>
                                <th>Tác Giả</th>
                                <th>Mã Vạch</th>
                                <th>Ngày Mượn</th>
                                <th>Ngày Trả</th>
                                <th>Hành Động</th>
                            </tr>
                            </thead>
                            <tbody class="list-book">
                            <tr class="warning" th:each="sachMuon : ${sachMuons}" th:data-id="${sachMuon.maSachMuon}">
                                <!--                                <td scope="row" th:text="${state.count}"></td>-->
                                <td th:text="${sachMuon.getMaSachMuon()}" style="text-align: left"></td>
                                <td th:text="${sachMuon.getSach().getDauSach().getTenDauSach()}"
                                    style="text-align: left"></td>
                                <td th:text="${sachMuon.getSach().getDauSach().getTacGia()}"
                                    style="text-align: left"></td>
                                <td th:text="${sachMuon.getSach().getMaVach()}" style="text-align: left"></td>
                                <td th:text="${#dates.format(sachMuon.getNgayMuon(), 'dd-MM-yyyy')}"
                                    style="text-align: left"></td>
                                <td th:text="${#dates.format(sachMuon.getNgayTra(), 'dd-MM-yyyy')}"
                                    style="text-align: left"></td>
                                <td style="width: 150px">
                                    <button type="button" class="btn btn-danger" disabled>Xóa</button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <div style="text-align:center;margin:auto;">
                            <th:block th:if="${banDoc.getMaBanDoc()==0}">
                                <button type="button" class="btn btn-primary" style="margin-bottom: 20px" disabled>
                                    Mượn
                                    sách
                                </button>
                                <button type="button" class="btn label-warning" style="margin-bottom: 20px" } disabled>
                                    Xác
                                    nhận
                                </button>
                            </th:block>
                            <th:block th:unless="${banDoc.getMaBanDoc()==0}">
                                <button type="button" class="btn btn-primary" id="btn-muon-sach"
                                        style="margin-bottom: 20px">
                                    Mượn
                                    sách
                                </button>
                                <button type="button" class="btn label-warning" id="btn-xac-nhan"
                                        style="margin-bottom: 20px" } disabled>Xác
                                    nhận
                                </button>
                            </th:block>
                        </div>
                    </div>
                    <div class="bs-example4" data-example-id="contextual-table">
                        <div class="col-sm-6">
                            <h4 class="blank1">Sách mượn đã trả</h4>
                        </div>
                        <table class="table">
                            <thead>
                            <tr class="danger">
                                <th>STT</th>
                                <th>Mã</th>
                                <th>Tên Sách</th>
                                <th>Tác Giả</th>
                                <th>Mã Vạch</th>
                                <th>Ngày Mượn</th>
                                <th>Ngày Trả</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="warning" th:each="sachMuon,state : ${sachDaMuons}">
                                <td scope="row" th:text="${state.count}"></td>
                                <td th:text="${sachMuon.getMaSachMuon()}" style="text-align: left"></td>
                                <td th:text="${sachMuon.getSach().getDauSach().getTenDauSach()}"
                                    style="text-align: left"></td>
                                <td th:text="${sachMuon.getSach().getDauSach().getTacGia()}"
                                    style="text-align: left"></td>
                                <td th:text="${sachMuon.getSach().getMaVach()}" style="text-align: left"></td>
                                <td th:text="${#dates.format(sachMuon.getNgayMuon(), 'dd-MM-yyyy')}"
                                    style="text-align: left"></td>
                                <td th:text="${#dates.format(sachMuon.getNgayTra(), 'dd-MM-yyyy')}"
                                    style="text-align: left"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!--                </th:block>-->
            </div>
        </div>
    </div>
    <!--body wrapper end-->

    <!-- Modal Add Book -->
    <div class="modal fade modal-nhap-sach" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="exampleModalCenterTitle">Thêm sách mượn</h4>
                </div>
                <div class="modal-body">
                    <div class="tab-pane active form-horizontal">
                        <div class="form-group">
                            <input type="text" class="form-control1" id="ma-sach" placeholder="Nhập mã sách...">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                    <button type="button" class="btn btn-primary btn-them-sach">Xác nhận</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Add Book end-->

    <!--footer section start-->
    <footer><p>Copyright &copy; 2020. All rights reserved. Nguyễn Văn Dương</p></footer>
    <!--footer section end-->
    <!-- main content end-->
</section>
<script src="js/jquery.nicescroll.js"></script>
<script src="js/scripts.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/notify/0.4.2/notify.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        var listData = [];

        $("#btn-muon-sach").on("click", function () {
            $("#ma-sach").val("");
            $(".modal-nhap-sach").modal();
        });

        $(".btn-them-sach").on("click", function () {
            var maSach = $("#ma-sach").val().trim();
            $.ajax({
                url: '/api/sach/' + maSach,
                type: 'GET',
                error: function (data) {
                    $.notify("Dữ liệu yêu cầu không tồn tại", "error");
                },
                success: function (data) {
                    if (!data) {
                        $.notify("Dữ liệu yêu cầu không tồn tại", "error");
                    } else {
                        if (checkBook(data.dauSach.maDauSach)){
                            console.log(true);
                        }
                        console.log(false);
                        var sach = {
                            maSach: data.maSach,
                            dauSach: data.dauSach,
                            banDoc: banDoc
                        };
                        listData.push(sach);
                        insertNewBook(data);
                        $.notify("Sách đã được thêm", "success");
                    }
                }
            });
            $(".modal-nhap-sach").modal("hide");
        });

        $(".btn-tim-bd").on("click", function () {
            var bandoc = $(".ban-doc").val().trim();
            if (bandoc === '') {
                $.notify("Không được để trống thông tin", "error");
                return;
            }
            $.ajax({
                url: '/api/ban-doc/' + bandoc,
                type: 'GET',
                error: function (data) {
                    $.notify("Dữ liệu yêu cầu không tồn tại", "error");
                },
                success: function (data) {
                    if (!data) {
                        $.notify("Dữ liệu yêu cầu không tồn tại", "error");
                    } else {
                        window.location.replace("/muon-sach?ban-doc=" + bandoc);
                    }
                }
            });
        });

        function insertNewBook(sach) {
            $('.list-book').append(`
			     <tr class="warning" data-id="${sach.maSach}">
					<td>${sach.maSach}</td>
					<td>${sach.dauSach.tenDauSach}</td>
					<td>${sach.dauSach.tacGia}</td>
					<td>${sach.maVach}</td>
					<td></td>
					<td></td>
					<td style="width: 150px">
						<button type="button" class="btn btn-danger" onclick="deleteBook(${sach.maSach})">Xóa</button>
					</td>
				</tr>
			`)
        };
    });

    function deleteBook(id) {
        $(".list-book tr[data-id='" + id + "']").remove();
    };

    function checkBook(mv) {
        console.log("vào hàm");
        sachMuons.forEach(function (value){
            if (value.sach.dauSach.maDauSach === mv) {
                console.log("helllo   " + mv);
                return true;
            }
            return false;
        });
    };

    // $(".btn-tim-bd").on("click", function () {
    //     var bandoc = $("#ban-doc").val().trim();
    //     if (bandoc === '') {
    //         $.notify("Không được để trống thông tin", "error");
    //         return ;
    //     }
    //     $.ajax({
    //         url: '/api/muon-sach/' + bandoc,
    //         type: 'GET',
    //         error: function (data) {
    //             $.notify("Dữ liệu yêu cầu không tồn tại", "error");
    //         },
    //         success: function (data) {
    //             $('.maDocGia').text("Mã độc giả: " + data.banDoc.maBanDoc);
    //             $('.hoTen').text("Họ tên: " + data.banDoc.hoTen);
    //             $('.ngaySinh').text("Ngày sinh: " + data.banDoc.ngaySinh);
    //             $('.diaChi').text("Địa chỉ: " + data.banDoc.diaChi);
    //             $('.sdt').text("Số điện thoại: " + data.banDoc.soDienThoai);
    //             $('.maVach').text("Mã vạch: " + data.banDoc.maVach);
    //         }
    //     });
    // });
</script>
</body>
</html>
