<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Phiếu mượn</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content="Easy Admin Panel Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design"/>
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <!-- Graph CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/font-awesome.css}"/>
    <!-- jQuery -->
    <!-- lined-icons -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/icon-font.min.css}"/>
    <!-- //lined-icons -->
    <!-- chart -->
    <script src="js/Chart.js"></script>
    <!-- //chart -->
    <!--animate-->
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/animate.css}"/>
    <script type="text/javascript" th:src="@{/js/wow.min.js}"></script>
    <script>
        new WOW().init();
    </script>
    <!--//end-animate-->
    <!----webfonts--->
    <link href='http://fonts.googleapis.com/css?family=Cabin:400,400italic,500,500italic,600,600italic,700,700italic'
          rel='stylesheet' type='text/css'>
    <!---//webfonts--->
    <!-- Meters graphs -->
    <script type="text/javascript" th:src="@{/js/jquery-1.10.2.min.js}"></script>
    <!-- Placed js at the end of the document so the pages load faster -->

</head>

<body class="sticky-header left-side-collapsed" onload="initMap()">
<section>
    <!-- left side start-->
    <div class="left-side sticky-left-side">
        <!--logo and iconic logo start-->
        <div class="logo"><h1><a th:href="@{/}">Quản Lý <span>Thư Viện</span></a></h1></div>
        <div class="logo-icon text-center"><a th:href="@{/}"><i class="lnr lnr-home"></i> </a></div>

        <!--logo and iconic logo end-->
        <div class="left-side-inner">

            <!--sidebar nav start-->
            <ul class="nav nav-pills nav-stacked custom-nav">
                <li><a th:href="@{/muon-sach}"><i class="lnr lnr-book"></i> <span>Quản lý mượn sách</span></a></li>
            </ul>
            <!--sidebar nav end-->
        </div>
    </div>
    <!-- left side end-->

    <!-- main content start-->
    <div class="main-content">
        <!-- header-starts -->
        <div class="header-section">
            <!--toggle button start-->
            <a class="toggle-btn  menu-collapsed"><i class="fa fa-bars"></i></a>
            <!--toggle button end-->
            <!--notification menu start -->
            <div class="menu-right">
                <div class="user-panel-top">
                    <div class="profile_details">
                        <ul>
                            <li class="dropdown profile_details_drop">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    <div class="profile_img">
                                        <div class="user-name">
                                            <p>Dương<span>Nhân_Viên</span></p>
                                        </div>
                                        <i class="lnr lnr-chevron-down"></i>
                                        <i class="lnr lnr-chevron-up"></i>
                                        <div class="clearfix"></div>
                                    </div>
                                </a>
                                <ul class="dropdown-menu drp-mnu">
                                    <li><a href="#"><i class="fa fa-cog"></i> Cài đặt</a></li>
                                    <li><a href="#"><i class="fa fa-user"></i>Trang cá nhân</a></li>
                                    <li><a th:href="@{/dang-nhap}"><i class="fa fa-sign-out"></i> Đăng xuất</a></li>
                                </ul>
                            </li>
                            <div class="clearfix"></div>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <!--notification menu end -->
        </div>
        <!-- //header-ends -->
        <div id="page-wrapper">
            <div class="graphs">
                <h3 class="blank1">Phiếu mượn</h3>
                <div class="xs tabls">
                    <div class="bs-example4" data-example-id="contextual-table">
                        <div class="panel-body no-padding">
                            <div style="text-align:center;margin:auto;">
                                <h3>Thông tin phiếu mượn</h3>
                            </div>
                            <div class="col-sm-12">
                                <div class="col-sm-3">
                                    <h4 class="blank1">Mã độc giả:</h4>
                                    <h4 class="blank1">Họ tên:</h4>
                                    <h4 class="blank1">Mã vạch độc giả:</h4>
                                    <h4 class="blank1">Mã vạch phiếu mượn:</h4>
                                </div>
                                <div class="col-sm-9">
                                    <h4 class="blank1" th:text="${phieuMuon.getBanDoc().getMaBanDoc()}"></h4>
                                    <h4 class="blank1" th:text="${phieuMuon.getBanDoc().getHoTen()}"></h4>
                                    <h4 class="blank1" th:text="${phieuMuon.getBanDoc().getMaVach()}"></h4>
                                    <h4 class="blank1" th:text="${phieuMuon.getMaVach()}"></h4>
                                </div>
                            </div>
                        </div>
                        <br/>
                        <div class="col-sm-6">
                            <h4 class="blank1">Danh sách sách còn mượn</h4>
                        </div>
                        <table class="table">
                            <thead>
                            <tr class="danger">
                                <th>Mã</th>
                                <th>Tên Sách</th>
                                <th>Tác Giả</th>
                                <th>Mã Vạch</th>
                                <th>Ngày Mượn</th>
                                <th>Ngày Phải Trả</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="warning" th:each="sachMuon,state : ${phieuMuon.getChiTietMuons()}">
<!--                                <td scope="row" th:text="${state.count}"></td>-->
                                <td th:text="${sachMuon.getSach().getMaSach()}" style="text-align: left"></td>
                                <td th:text="${sachMuon.getSach().getDauSach().getTenDauSach()}"
                                    style="text-align: left"></td>
                                <td th:text="${sachMuon.getSach().getDauSach().getTacGia()}"
                                    style="text-align: left"></td>
                                <td th:text="${sachMuon.getSach().getMaVach()}" style="text-align: left"></td>
                                <td th:text="${#dates.format(sachMuon.getNgayMuon(), 'dd-MM-yyyy')}"
                                    style="text-align: left"></td>
                                <td th:text="${#dates.format(sachMuon.getNgayTra(), 'dd-MM-yyyy')}"
                                    style="text-align: left"></td>
                            </tr>
                            </tbody>
                        </table>
                        <div style="text-align:center;margin:auto;">
                            <h4 class="blank1" th:text="${'Tổng số sách đang mượn: ' + phieuMuon.getChiTietMuons().size()}"></h4>
                        </div>
                        <br/>
                        <div style="text-align:center;margin:auto;">
                            <button type="button" class="btn label-warning btn-in-phieu-muon" style="margin-bottom: 20px">In phiếu mượn
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--body wrapper end-->
    </div>
    <!--footer section start-->
    <footer><p>Copyright &copy; 2020. All rights reserved. Nguyễn Văn Dương</p></footer>
    <!--footer section end-->
    <!-- main content end-->
</section>
<script type="text/javascript" th:src="@{/js/jquery.nicescroll.js}"></script>
<script type="text/javascript" th:src="@{/js/scripts.js}"></script>
<!-- Bootstrap Core JavaScript -->
<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/notify/0.4.2/notify.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.9.0/sweetalert2.all.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $(".btn-in-phieu-muon").on("click", function () {
            swal({
                title: 'In phiếu mượn thành công' + '<br />'+ 'quay về trang chủ',
                showCancelButton: true
            }).then(function (result) {
                if (result.value) {
                    window.location.replace("/");
                }
            })
        });
    });
</script>
</body>
</html>